/* *************************************************************************************  */

div {
    overflow: hidden;
}

.mat-sidenav-container {
    min-height: auto !important;
    margin-top: 4% !important;
}

button {
    font-size: 110%;
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-sidenav-content {
    font-size: 100%;
    padding: 16px;
    height: inheritv;
}

.icon {
    display: inline-block;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    color: seashell;
}

.example-header-image {
    /* background-image: url(); */
    background-size: cover;
    background-repeat: inherit;
    background-color: lightyellow;
}

mat-sidenav {
    position: absolute;
    width: 50px;
    background: #3f51b5;
}

.spacer {
    flex: 1 1 auto;
}

.nav-bar {
    overflow: hidden;
    /* padding: 90px 10px; */
    /* transition: 0.4s; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}


/* .mat-drawer-transition {} */